.create-bg {
    background-image: url("../assets/Images/image@.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

.create-card {
    width: 500px;
    min-height: 500px;
    background: rgba(217, 217, 217, 0.3);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 7px 40px 15px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    /* Note: backdrop-filter has minimal browser support */
    margin: 20px 0;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .create-card {
        width: 90vw;
    }
}